<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.smarthome.gesturecontrol">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/home"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/home"
            android:supportsRtl="true"
            android:theme="@style/Theme.SmartHomeGestureControl"
            tools:targetApi="31">
        <activity
                android:name=".EditGestureToThing"
                android:exported="false"/>
        <activity
                android:name=".AddGestureToThing"
                android:exported="false"/>
        <activity
                android:name=".RemoveGesture"
                android:exported="false"/>
        <activity
                android:name=".EditGesture"
                android:exported="false"/>
        <activity
                android:name=".AddGesture"
                android:exported="false"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>